@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #14122B;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    overflow-x: hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #F7F8FC;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #6C5CE7, #FF6B35);
  border-radius: 999px;
}

/* Lenis Recommended CSS */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
